<section>
    <h1>
        Dashboard
    </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">Donut Graph</div>
                <div class="panel-body"><highchart id="chart1" config="donutChart" class=""></highchart></div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">Bar Graph</div>
                <div class="panel-body"><highchart id="chart1" config="barChart" class=""></highchart></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">Pie Graph</div>
                <div class="panel-body"><highchart id="chart1" config="pieChart" class=""></highchart></div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">Column Graph</div>
                <div class="panel-body"><highchart id="chart1" config="columnChart" class=""></highchart></div>
            </div>
        </div>
    </div>
</section>