<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 border-bottom" data-ui-view="header">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 ">
        <div class="row" style="margin-right: 10px" id="content">
            <div class="col-xs-2 col-sm-2 col-md-2 "  data-ui-view="nav" style="padding: 0">
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 "  data-ui-view>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 border-top" data-ui-view="footer">
    </div>
</div>